@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush:wght@400&display=swap');

@font-face {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/caveatbrush/v18/EYqymaNOw1vSLLXE-4i3fS5Y.woff2) format('woff2');
}
